html{
  text-align:center;
  background-color:#252f33;
}
body{
  text-align:center;
  width:800pt;
  margin-left:auto;
  margin-right:auto;
}
div#content{
  background-color:#859C80;
  height:600pt;
}
div#pageTitle{
  text-align:left;
  padding-top:10pt;
  padding-left:25pt;
  padding-bottom:10pt;
  color:#2C4969;
  font-size:22pt;
  font-weight:bold;
}
div#artical{
  width:auto;
  position:relative;
  padding-left:25pt;
  color:#101214;
  text-align:left;
  line-height:27pt;
}
div#header{
  height:100pt;
  background-color:#93C2CC;
}
div#menu{
  background-color:#BFE0E7;
  height:40pt;
}
div#current{
  margin-left:10pt;
  margin-right:auto;
  background-color:#D0D0D0;
  width:200pt;
  height:20pt;
  box-shadow:10pt 10pt 5pt black;
  float:left;
  padding-top:10pt;
}
div#pastP{
  margin-left:auto;
  margin-right:30pt;
  background-color:#D0D0D0;
  width:200pt;
  height:310pt;
  box-shadow:10pt 10pt 5pt black;
  float:right;
}
table{
  margin-left:auto;
  margin-right:auto;
}
div#title{
  position:relative;
  text-align:left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:32pt;
  top:22pt;
  left:30pt;
}
div#subTitle{
  position:relative;
  text-align:left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:12pt;
  color:#CEEAEE;
  left:60pt;
}
ul{
  list-style-type:none;
  margin:auto;
}
li {
  float:left;
}
ul a{
  padding-right:30pt;
  padding-left:30pt;
  display:block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:12pt;
  font-weight:bold;
  color:#252F33;
  text-align:center;
  padding-top:12pt;
  text-decoration: none;
}
a{
  text-decoration:none;
  color:black;
}
