<div id="pageTitle">
  Welcome to Math Test
</div>
<div id="artical"> 
  This is just a silly math game. Feel free to play now or register.<br/>
  By registering and playing while logged in you will be able to see        statistics about your games.
</div>
