<?php
/**
 *
 * PHP 5
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright 2005-2012, Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright 2005-2012, Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       Cake.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       MIT License (http://www.opensource.org/licenses/mit-license.php)
 */
$description = __d('cake_dev', 'Math Test');
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<?php echo $this->Html->charset(); ?>
	<title>
		<?php echo $description ?>:
		<?php echo $title_for_layout; ?>
	</title>
	<?php
		echo $this->Html->meta('icon');

		echo $this->Html->css('main');

		echo $this->fetch('meta');
		echo $this->fetch('css');
                echo $this->fetch('script');
	?>
</head>
<body>
	<div id="container">
		<div id="header">
                  <div id='title'>
                    <?php echo $this->Html->link($description, 'http://204.12.237.54/cakeMathTest/')?>
                    <div id="subTitle">A silly game by Berton</div>
                  </div>
                </div>
                <?php echo $this->element('menu'); ?>
		<div id="content">

			<?php echo $this->Session->flash(); ?>

			<?php echo $this->fetch('content'); ?>
		</div>
		<div id="footer">
			<?php echo $this->Html->link(
                          $this->Html->image('cake.power.gif', array('alt' => $description,
                              'border' => '0')),
			      'http://www.cakephp.org/',
			      array('target' => '_blank', 'escape' => false)
                            );
			?>
		</div>
	</div>
</body>
</html>
