<div id="pageTitle"> Statistics </div>
<div id="artical">You have answered <?php echo $total; ?> questions.<br/>
<?php echo $correct[0][0]['correct']; ?> were correct and <?php echo $wrong[0][0]['wrong']; ?> were wrong.<br/>
  Which is <?php echo number_format((($correct[0][0]['correct']/$total)*100),2); ?>% correct.
  </div>
</div>
